<div id="examplesContainer">
    <div id="examplesWin">
        <h1>Beispiel laden</h1>
        <h2> Beispiel ausw&auml;hlen.</h2>
        <select id="exampleSelect"></select>
        <button id="exampleCancel">Abbrechen</button>
        <button id="exampleApply">OK</button>
    </div>
</div>
<script src="examples/hamster.js"></script>
