<div id="imageContainer">
    <div class="center">
        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Importieren einer Farbpalette:
                <input type="file" id="importPalette" accept="image/*,.pal"/>
            </label>
        </div>
        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Importieren einer Bilddatei:
                <input type="file" id="importImage" accept="image/*"/>
            </label>
        </div>
        
        <div>Neues Bild erstellen: <input id="imageName" placeholder="Name der Bildvariablen"></div>
        <div><label>Breite: <input id="imageWidth" value="16"></label></div>
        <div><label>H&#246;he: <input id="imageHeight" value="16"></label></div>
        <div><button id="imageCreate">Erstellen</button></div>

    </div>
</div>
